<section class="py-16 lg:py-24 mx-auto max-w-7xl px-6 lg:px-8 relative">
  <div class="flex flex-col justify-center items-center">
    <h3
      class="text-center text-4xl lg:text-6xl text-zinc-900 font-thunder font-bold uppercase underline-offset-4 underline"
    >
      Like You, We Care About Results
    </h3>
    <p class="mt-6 text-xl text-zinc-800 text-center">
      What some of the Ecom Explorer Community had to say.
    </p>
  </div>
  <div class="relative mt-6 grid grid-cols-1 lg:grid-cols-2 gap-2">
    <!-- Testimonial 1 -->
    <div
      class="wistia_responsive_padding"
      style="padding:56.25% 0 0 0;position:relative;"
    >
      <div
        class="wistia_responsive_wrapper"
        style="height:100%;left:0;position:absolute;top:0;width:100%;"
      >
        <iframe
          src="https://fast.wistia.net/embed/iframe/5akdxx7imf?seo=true&videoFoam=true"
          title="Ecom Explorer Case Study: Hammerroo Video"
          allow="fullscreen"
          allowtransparency="true"
          class="wistia_embed"
          name="wistia_embed"
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async
    ></script>

    <!-- Testimonial 2 -->
    <div
      class="wistia_responsive_padding"
      style="padding:56.25% 0 0 0;position:relative;"
    >
      <div
        class="wistia_responsive_wrapper"
        style="height:100%;left:0;position:absolute;top:0;width:100%;"
      >
        <iframe
          src="https://fast.wistia.net/embed/iframe/eimjga1j3l?seo=true&videoFoam=true"
          title="Envious Dreams Testimonial Video"
          allow="autoplay; fullscreen"
          allowtransparency="true"
          class="wistia_embed"
          name="wistia_embed"
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async
    ></script>
    <!-- Testimonial 3 -->
    <div
      class="wistia_responsive_padding"
      style="padding:56.25% 0 0 0;position:relative;"
    >
      <div
        class="wistia_responsive_wrapper"
        style="height:100%;left:0;position:absolute;top:0;width:100%;"
      >
        <iframe
          src="https://fast.wistia.net/embed/iframe/t59eeh0ciz?seo=true&videoFoam=true"
          title="GoodMix Superfoods Testimonial Video"
          allow="fullscreen"
          allowtransparency="true"
          class="wistia_embed"
          name="wistia_embed"
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async
    ></script>

    <!-- Testimonial 4 -->
    <div
      class="wistia_responsive_padding"
      style="padding:56.25% 0 0 0;position:relative;"
    >
      <div
        class="wistia_responsive_wrapper"
        style="height:100%;left:0;position:absolute;top:0;width:100%;"
      >
        <iframe
          src="https://fast.wistia.net/embed/iframe/bo1mkkfczt?seo=true&videoFoam=true"
          title="Ecom Explorer Case Study: Binkabu Video"
          allow="fullscreen"
          allowtransparency="true"
          class="wistia_embed"
          name="wistia_embed"
          width="100%"
          height="100%"></iframe>
      </div>
    </div>
    <script src="https://fast.wistia.net/assets/external/E-v1.js" async
    ></script>
  </div>
</section>
